/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #869298;
}


main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

button{
    font-size: 1.3rem;
    width: 6.3rem;
}

#preview-list {
    display: flex;
    flex-direction: column;
}

.preview-list-top{
    overflow: auto;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.note-preview-tile {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-size: 1.4rem;
    color: white;
    height: 4.5rem;
    border: 0.3rem solid black;
    margin: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: gray;
}

.note-preview-desc{
    padding: 1rem;
    width: 100%;
}

.note-preview-desc:hover {
    cursor: pointer;
}


.note-preview-tile p {
    width: 93%;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.delete{
    padding: 1rem;
}

.delete i {
    padding: 0 0.7rem;
}

.delete i:hover {
    color: rgba(241, 25, 25, 0.79) !important;
    cursor: pointer;
}

#note-window {
    background-color: #ffffff30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description-window {
    width: 100%;
    height: 100%;
}

#note-window form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    padding: 3rem;
}
#description-window textarea{
    font-size: 2rem;
    height: 100%;
    width: 100%;
}


/*--------------------------------------FOOTER--------------------------------------*/

footer {
    font-weight: bold;
}

footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

footer .row div,
footer .row a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
}

.git i {
    font-size: 4rem;
}

@media (max-width: 700px) {
    footer p {
        font-size: 1rem;
    }

    .git i {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    footer p {
        font-size: 0.7rem;
    }

    .git i {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    footer p {
        font-size: 0.7rem;
    }
}